@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Lexend:wght@100..900&display=swap');

:root {
  --font-mono: 'Roboto Mono', monospace;
}



* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  margin: 0;
  color: black;
}

h1, h2, h3, h4 {
  font-family: "Bentham", serif;
  font-weight: 400;
  font-style: normal;
}

.page-heading {
  text-align: center;
  padding: 20px 0 0;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 20px 40px;
}


